{:paths ["src" "../2.5.0"]
 :deps {org.apache.kafka/kafka-clients {:mvn/version "2.5.0"}
        org.apache.kafka/kafka-tools {:mvn/version "2.5.0"}
        org.apache.kafka/kafka-streams {:mvn/version "2.5.0"}
        org.apache.kafka/kafka_2.13 {:mvn/version "2.5.0"}}}

